<main>
    <div class="contact">
        <div class="banner">
            <img src="../../../assets/contact-banner.jpg" alt="Contact Us">
            <p>CONTACT US</p>
        </div>

        <div class="Body">
            <div class="Map">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d1033.816887676836!2d88.42731727019627!3d22.575194232570286!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1690999290651!5m2!1sen!2sus"
                    allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

            <div class="seperator">
                <div class="circle" id="dot">
                    <div class="inner-circle">
                        <p>OR</p>
                    </div>
                </div>
            </div>

            <div class="address">
                <img src="../../../../assets/logos/MediCare_Logo_Green_Horizontal_Transparent.png">
                <h5 class="bold ms-3 mb-4">Corporate Details</h5>
                <p><i class="fas fa-envelope me-3"></i><span class="bold">Mail us at:</span> info@medicare.com</p>
                <p><i class="fas fa-phone me-3"></i><span class="bold">Call us on:</span> +91 9876543210</p>
                <p><i class="fas fa-home me-3"></i><span class="bold">Our location:</span><br><span style="display: block; margin-left: 10%;">Bengal Eco Intelligent Park, 7th Floor,Block-EM, Plot-9, Sector-V, Saltlake City,Kolkata - 700091</span></p>
            </div>
        </div>
    </div>
</main>