<main>
    <section class="container py-4">
        <div class="card">
            <div class="card-header">
                <h3>{{userDetails?.data.first_name}} {{userDetails?.data.last_name}}</h3>
            </div>
            <div class="card-body">
                <div class="profPic">
                    <img [src]='img_path' alt="Profile picture">
                </div>
                <div class="userData">
                    <p class="card-text">First name: {{userDetails?.data.first_name}}</p>
                    <p class="card-text">Last name: {{userDetails?.data.last_name}}</p>
                    <p class="card-text">Mail: {{userDetails?.data.email}}</p>
                </div>
            </div>
        </div>
        <div class="Btns">
            <button class="btn btn-warning me-3 mt-3" routerLink="/view_appointments">Your Appointments</button>
            <button class="btn btn-secondary mt-3" (click)="loggingOut()">Log out</button>
        </div>
    </section>
</main>