.addr {
    width: 95%;
    margin: 40px auto;
    background-color: white;
    border-radius: 20px;
    padding: 3%;
}

form {
    margin: auto;
    width: 50%;
    height: auto;
}

.form-label {
    font-weight: bold;
}

.img-style{
    width: 10%;
    height: auto;
    display: block;
    margin: auto;
    margin-bottom: 3%;
}