<main>
    <!-- hero carousel -->
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="2000">
                <img src="../../../assets/Heros/Hero4.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="../../../assets/Heros/Hero2.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="../../../assets/Heros/Hero6.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!-- featured product [Owl carousel - https://youtu.be/2KjKLroMMCM]-->
    <div class="featureProd">
        <div class="heading">
            <div class="icons">
                <img src="../../../assets/icons/ordermedicine.png">
            </div>
            <h5>Featured Product</h5>
        </div>

        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide *ngFor="let f of onlyFeatureProd">
                <div style="margin-bottom: 30px;">
                    <a routerLink="../search/{{'featured'}}/detail/{{f.mid}}">
                        <div class="card">
                            <div class="card-body">
                                <img src="{{f.mImg1}}" class="card-img-top" alt="image">
                            </div>
                        </div>
                    </a>
                    <div class="card-title-div">
                        <h5 class="card-title">{{f?.mName}}</h5>
                    </div>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>



    <!-- medicine, health-care, Ayurveda -->
    <div class="catagory">
        <div class="heading">
            <div class="icons">
                <img src="../../../assets/icons/shopbycategory.png">
            </div>
            <h5>Shop by Catagory</h5>
        </div>
        <div class="row row-cols-1 row-cols-sm-3 row-cols-md-3 g-4">
            <div class="col">
                <a routerLink="/medicines/catagory/{{medicines[0].id}}">
                    <div class="card">
                        <div class="card-body">
                            <img src="../../../assets/Catagory/Allopathic.png" class="card-img-top"
                                style="height: 200px; object-fit: cover;">
                        </div>
                    </div>
                </a>
                <h4 class="card-title">Allopathic Medicine</h4>
            </div>
            <div class="col">
                <a routerLink="/medicines/catagory/{{medicines[1].id}}">
                    <div class="card">
                        <div class="card-body">
                            <img src="../../../assets/Catagory/Ayurvedic.png" class="card-img-top"
                                style="height: 200px; object-fit: cover;">
                        </div>
                    </div>
                </a>
                <h4 class="card-title">Ayurvedic Medicine</h4>
            </div>
            <div class="col">
                <a routerLink="/medicines/catagory/{{medicines[2].id}}">
                    <div class="card">
                        <div class="card-body">
                            <img src="../../../assets/Catagory/Healthcare_2_3.png" class="card-img-top"
                                style="height: 200px; object-fit: cover;">
                        </div>
                    </div>
                </a>
                <h4 class="card-title">Healthcare Products</h4>
            </div>
        </div>
    </div>

    <!-- doctor appointment -->
    <div class="appointment">
        <div class="intro">
            <h3></h3>
        </div>
        <img src="../../../assets/BookAppointment.png" alt="Appiontment image">
        <button type="button" class="btn">Book Now &nbsp;<i class="fa-solid fa-arrow-right-long fa-beat"></i></button>
    </div>
    <!-- doctor appointment -->
</main>