// ----- common for 'Featured' and 'catagory' div-----
.heading {
    width: 100%;
    height: 50px;
    background-color: rgb(63, 207, 236);
    border-radius: 10px 10px 0px 0px;
    position: relative;

    h5 {
        font-family: 'Titillium Web', sans-serif;
        margin-left: 10%;
        padding-top: 12px;
    }

    .icons {
        background-color: white;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        position: absolute;
        top: 80%;
        left: 5%;
        transform: translate(-50%, -50%);

        img {
            height: 40px;
            width: 40px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

@media (max-width:865px) {
    .heading {
        h5 {
            margin-left: 15%;
        }

        .icons {
            left: 8%;
        }
    }
}

@media (max-width:600px) {
    .heading {
        h5 {
            margin-left: 20%;
        }

        .icons {
            left: 10%;
        }
    }
}

@media (max-width:400px) {
    .heading {
        h5 {
            margin-left: 27%;
        }

        .icons {
            left: 14%;
        }
    }

    .appointment {
        button {
            font-size: 14px !important;
        }
    }
}

.featureProd .card,
.catagory .card {
    padding: 0%;
    border-radius: 10px;
}

.featureProd .card-body,
.catagory .card-body {
    padding: 0%;
    border-radius: 10px;
}

.featureProd .card-body img,
.catagory .card-body img {
    border-radius: 10px;
}

// ----- common for 'Featured' and 'catagory' div-----




// --------- Featured Products ------------
.featureProd {
    width: 95%;
    height: auto;
    margin: 40px auto;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border-bottom: 1px solid rgb(63, 207, 236);
    box-shadow: 3px 3px 5px gray;

    .heading {
        background-color: rgb(63, 207, 236);
    }

    .card {
        margin: 30px 5% 10px 5%;
        border: 0px;
        // background-color: blanchedalmond;

        &:hover {
            margin: 28px 5% 8px 5%;
            box-shadow: 1px 1px 10px 1px rgb(161, 204, 213);
        }

        .card-body img {
            height: 220px;
            object-fit: contain;
        }
    }

    .card-title-div {
        width: 65%;
        height: 28px;
        // background-color: bisque;
        display: block;
        margin: auto;
        overflow: hidden;

        .card-title {
            text-align: center;
        }
    }
}


// ---------- medicine, health-care, Ayurveda ----------
.catagory {
    width: 95%;
    height: auto;
    margin: 40px auto;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border-bottom: 1px solid rgb(151, 204, 117);
    box-shadow: 3px 3px 5px gray;

    .row {
        margin-bottom: 20px;
    }

    .heading {
        background-color: rgb(151, 204, 117);
        // background-color: rgb(80, 184, 151);
    }

    .card {
        margin: 30px 5% 8px 5%;
        border: 0px;
        // background-color: bisque;

        &:hover {
            box-shadow: 1px 1px 10px 1px rgb(128, 172, 143);
        }
    }

    .card-title {
        margin-top: 10px;
        text-align: center;
    }
}



// ------------- Doctor appointment ---------------------
.appointment {
    width: 95%;
    margin: 70px auto;
    position: relative;
    border-radius: 20px;
    box-shadow: 3px 3px 5px gray;
    // background-color: rgb(182, 255, 255);

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 20px;
    }

    button {
        position: absolute;
        top: 84%; // without AOS
        // top: -70px;
        left: 33%;
        transform: translate(-50%, -50%);
        padding: 1% 5%;
        font-size: 20px;
        border-radius: 15px;
        background-color: rgb(1, 77, 150);
        color: white;
        box-shadow: 5px 5px 5px rgb(162, 199, 255);

        &:hover {
            padding: 1.1% 5.1%;
            font-size: 22px;
        }
    }
}

@media (max-width:600px) {
    .featureProd .card .card-body img {
        height: 150px;
        object-fit: contain;
    }
}
@media (max-width:450px) {
    .carousel .carousel-item img, .appointment img {
        height: 150px;
        object-fit: cover;
    }
}
@media (max-width:285px) {
    .featureProd .card .card-body img {
        height: 100px;
        object-fit: contain;
    }
}