.pamnt {
    width: 95%;
    margin: 40px auto;
    background-color: white;
    border-radius: 20px;
    padding: 3%;
}

form {
    margin: auto;
    width: 50%;
    height: auto;
}

.style {
    text-decoration: none;
    margin: 10px auto;

    col-2 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.image {
    width: 90%;
    height: auto;
}