<!-- Navbar -->
<header>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/home">
        <img src="../assets/logos/MediCare_Logo_Green_Transparent.png"
          onmouseover="this.src='../assets/logos/MediCare_Logo_Pink_Transparent.png'"
          onmouseout="this.src='../assets/logos/MediCare_Logo_Green_Transparent.png'" alt="MediCare">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/medicines">Medicines</a>
          </li>
          <li class="nav-item">
            <div class="dropdown">
              <a class="nav-link dropdown-toggle" routerLink="">Catagory</a>
              <div class="dropdown-content dropdown-catagory">
                <a routerLink="/medicines/catagory/{{'m1'}}">Allopathic</a>
                <a routerLink="/medicines/catagory/{{'m2'}}">Ayurvedic</a>
                <a routerLink="/medicines/catagory/{{'m3'}}">Healthcare</a>
                <hr class="divider">
                <a routerLink="/appointment">Book an Appointment</a>
              </div>
            </div>
          </li>
        </ul>
        <!-- *********************** Search *********************** -->
        <ul class="navbar-nav ms-auto me-auto">
          <li class="nav-item">
            <!-- <form class="d-flex" role="search" #formValue="ngForm" (ngSubmit)="search(formValue)"> -->
            <form class="d-flex" role="search" #formValue="ngForm">
              <div class="box">
                <i class="fa-solid fa-magnifying-glass fa-xl" style="color: #50b897a4;"></i>
                <input type="search" name="med" ngModel #med="ngModel"
                  placeholder="Search for Medicine and Healthcare Product" aria-label="Search" (keyup)="search($event)">
                <!--  for Medicine and Healthcare Product -->
                <!-- <button class="btn" type="submit">Search</button> -->
              </div>
            </form>
          </li>
        </ul>
        <!-- *********************** Search *********************** -->

        <!-- <div class="gap" style="background-color: rgba(255, 0, 0, 0); height: 20px; width: 120px;"></div> -->
        <div style="margin-top: 5px;">
          <button class="btn btn-outline-success Btn cartBtn" routerLink="/cart">
            <i class="fa-solid fa-cart-shopping fa-xl"></i>
            <ng-container *ngIf="cartItems.length > 0">
              <span class="position-absolute start-150 translate-middle badge rounded-pill bg-danger">
                {{cartItems | cartBadge}}
                <span class="visually-hidden">unread messages</span>
              </span>
            </ng-container>
          </button>
          <!-- <button class="btn btn-outline-success regBtn"><i class="fa-solid fa-user-plus fa-lg"></i> Sign up</button> -->
          <!-- <button class="btn btn-outline-success loginBtn"><i class="fa-solid fa-user fa-lg"></i> Log in</button> -->
          <!-- ************* Dropdown *************** -->
          <div class="dropdown">
            <button class="btn btn-outline-success Btn cartBtn"><i class="fa-solid fa-circle-user fa-2xl"></i></button>
            <div class="dropdown-content">
              <ng-container *ngIf="!loggedIn(); else logged">
                <a data-bs-toggle="modal" data-bs-target="#ModalForm"><i class="fa-solid fa-right-to-bracket"></i>&nbsp;
                  LOG IN </a>
                <a data-bs-toggle="modal" data-bs-target="#SingnUpModal"><i class="fa-solid fa-user-plus"></i>&nbsp; SIGN UP</a>
              </ng-container>
              <ng-template #logged>
                <a routerLink="/profile"><i class="fa-solid fa-user-tie"></i>&nbsp; PROFILE</a>
                <a (click)="log_out()"><i class="fa-solid fa-right-from-bracket"></i>&nbsp; LOG OUT</a>
              </ng-template>
            </div>
          </div>
          <!-- ************* Dropdown *************** -->
        </div>
      </div>
    </div>
  </nav>
</header>
<app-login></app-login>
<app-signup></app-signup>
<!-- Navbar -->