.navbar {
    background-color: rgb(239, 255, 248);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-bottom: 2px solid rgba(80, 184, 151, 0.3);
}

.navbar .container-fluid {
    margin: 0px 40px;
    justify-content: space-between;
}

.navbar img {
    width: 60px;
    object-fit: contain;
}

.nav-item {
    margin-left: 2%;
}

.nav-item a:hover {
    color: rgb(254, 104, 105);
}

.active i,
.active a {
    color: rgb(254, 104, 105);
}

.navbar .Btn {
    border: 0px;
}





/* ------------------- Search Box--------------*/
.nav-item .box {
    background-color: white;
    // width: 35vw;
    width: 32vw;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 2px 15px 2px 10px;
    border: 1px solid #50b8977b;
}

.box>input {
    // background-color: transparent !important;
    margin-left: 2%;
    width: 2px;
    flex: 1;
    height: 35px;
    border: 0px;
    outline: none;
    font-size: 17px;

    &::placeholder {
        font-size: 14px;
    }
}

.box>button {
    height: 36px;
    border-radius: 25px;
    border: 0px;
    background-color: #50b897;
    color: white;
    display: flex;
    align-items: center;
    font-size: 14px;
}

.box>button:hover {
    background-color: rgb(255, 137, 137);
    color: white;
}

/* ------------------- Search Box--------------*/





.navbar .cartBtn {
    background-color: rgba(255, 255, 255, 0);
    color: rgb(80, 184, 151);
    margin-left: 7px;
    position: relative;
}

.navbar .cartBtn:hover {
    background-color: rgba(255, 255, 255, 0);
    color: rgb(254, 104, 105);
}

.navbar .badge {
    --bs-badge-font-size: 0.50em;
    top: 10% !important;
}


.navbar .DP {
    height: 40px;
    width: 40px;
    border: 0px;
    border-radius: 50%;
    padding: 0px;
    // background-color: rgb(254, 104, 105);

    img {
        height: 100%;
        width: 100%;
        border: 0px;
        border-radius: 50%;
        object-fit: cover;
    }
}

/* ----------- dropdown ----------- */

.dropdown {
    display: inline-block;
    position: relative;

    &:hover {
        cursor: pointer;
    }

    &:hover .dropdown-content {
        display: block;
        z-index: 2;
        left: 80%;
        transform: translateX(-50%);
    }

    .dropdown-content {
        display: none;
        position: absolute;
        overflow: auto;
        min-width: 115px;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);

        a {
            display: block;
            color: #000000;
            padding: 5px;
            text-decoration: none;

            &:hover {
                color: #FFFFFF;
                background-color: rgb(220, 255, 240);
                color: rgb(254, 104, 105);
            }
        }
    }

    .dropdown-catagory {
        width: 200px;

        .divider {
            margin: 0px;
        }
    }
}

/* ----------- dropdown ----------- */


.dropdown-menu li {
    --bs-dropdown-link-active-bg: rgb(255, 243, 243);
}