<div id="target" #target></div> <!-- To scroll to top every time enter the component -->
<main>
    <div class="banner">
        <img src="../../../../assets/AboutUs/top-banner.png" alt="Banner image">
        <div class="banner-text">
            <h1>We make healthcare Understandable, Accessible and Affordable.</h1>
        </div>
    </div>

    <div class="about">
        <h3>About MediCare</h3>
        <p>India’s leading digital consumer healthcare platform</p>
        <div class="cards">
            <div class="row row-cols-1 row-cols-md-4 g-4">
                <div class="col">
                    <div class="card h-100">
                        <img src="../../../../assets/AboutUs/medicine-icon.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">E-Pharmacy</h5>
                            <p class="card-text">Order medicines and health products online and get it delivered at home
                                from licensed pharmacies</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="../../../../assets/AboutUs/ask-a-doctor-icon.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Online Consultations</h5>
                            <p class="card-text">Consult qualified and registered doctors on chat for free</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="../../../../assets/AboutUs/lab-test-icon.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Labs Tests</h5>
                            <p class="card-text">Book lab tests online for hassle-free, home sample collection service.
                                Get reports online.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="../../../../assets/AboutUs/authentic.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Authentic Information</h5>
                            <p class="card-text">Read medicine and health content written by qualified doctors and
                                health professionals</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="txt1">
            <p>medicare.com brings to you an online platform, which can be accessed for all your health needs. We are
                trying
                to make healthcare a hassle-free experience for you. Get your allopathic, ayurvedic, homeopathic
                medicines, vitamins & nutrition supplements and other health-related products delivered at home. Lab
                tests? That too in the comfort of your home. Doctor consult? Yes, we got that covered too.</p>
        </div>
    </div>

    <div class="story">
        <h3>Our Story</h3>
        <div class="Body">
            <div class="left">
                <img src="../../../../assets/AboutUs/idea.svg" alt="idea image" style="margin-bottom: 50px;">

                <div class="txt">
                    <h5>What we offer</h5>
                    <p>We provide accurate, authoritative & trustworthy information on medicines and help people use their medicines effectively and safely..</p>
                    <p>We get medicines and other health products delivered at home in 1000+ cities across India from licensed and verified pharmacies.</p>
                    <p>We also provide diagnostic services from certified labs and online doctor consults at any time, from anywhere.</p>
                </div>

                <img src="../../../../assets/AboutUs/journey.svg" alt="journey image" style="margin-top: 50px;">
            </div>

            <div class="seperator">
                <div class="circle" id="dot1">
                    <div class="inner-circle"></div>
                </div>
                <div class="circle" id="dot2">
                    <div class="inner-circle"></div>
                </div>
                <div class="circle" id="dot3">
                    <div class="inner-circle"></div>
                </div>
            </div>

            <div class="right">
                <div class="txt" style="margin-top: 0px;">
                    <h5>The idea</h5>
                    <p>In healthcare, the information around our medicines and lab tests is either unavailable or incomprehensible to us.</p>
                    <p>So we decided to create a platform that stood for transparent, authentic and accessible information for all.</p>
                    <p>This idea grew into a company and Tata 1mg was created in 2015.</p>
                </div>

                <img src="../../../../assets/AboutUs/whatwedid.svg" alt="WhatWeOffer image" style="margin-top: 100px; margin-bottom: 60px;">

                <div class="txt">
                    <h5>The journey so far</h5>
                    <p>We've made health care accessible to millions by giving them quality care at affordable prices.</p>
                    <p>We continue to expand our rich and extensive medical content and are working hard to make this information available in multiple local languages.</p>
                </div>
            </div>
        </div>
    </div>
</main>