<!-- Footer -->
<footer class="text-center text-lg-start text-dark" style="background-color: rgb(239, 255, 248); border-top: 2px solid rgba(80, 184, 151, 0.2);">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-between p-4 text-white" style="background-color: rgb(239, 255, 248)">
      <!-- Left -->
      <div class="me-5 text-dark">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->

      <!-- Right -->
      <div>
        <a href="" class="text-white me-4">
          <i class="fab fa-facebook-f text-dark"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-twitter text-dark"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-google text-dark"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-instagram text-dark"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-linkedin text-dark"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-github text-dark"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
    <div class="container">
      <hr>
    </div>
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <img src="../../../assets/logos/MediCare_Logo_Green_Transparent.png" alt="MediCare">
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 foot-link">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Company</h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
            <p>
              <a routerLink="/about-us" class="text-dark">About Us</a>
            </p>
            <p>
              <a routerLink="#!" class="text-dark">Contact us</a>
            </p>
            <p>
              <a routerLink="#!" class="text-dark">Blogs</a>
            </p>
            <p>
              <a routerLink="#!" class="text-dark">Partner with MediCare</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 foot-link">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Useful links</h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
            <p>
              <a routerLink="/profile" class="text-dark">Your Account</a>
            </p>
            <p>
              <a routerLink="#!" class="text-dark">Become an Affiliate</a>
            </p>
            <p>
              <a routerLink="#!" class="text-dark">Shipping Rates</a>
            </p>
            <p>
              <a routerLink="#!" class="text-dark">Help</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Contact</h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
            <p><i class="fas fa-home mr-3"></i> Saltlake, Kolkata, INDIA</p>
            <p><i class="fas fa-envelope mr-3"></i> info@medicare.com</p>
            <p><i class="fas fa-phone mr-3"></i> +91 98765 43210</p>
            <p><i class="fas fa-print mr-3"></i> +91 98765 43210</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2020 Copyright:
      <a class="text-dark" href="/home">MediCare.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->