// -------------- Footer ----------------
footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 3%;
}

footer img {
    width: 50%;
    margin-top: 15%;
}

.foot-link a{
    text-decoration: none;
}