<main>
    <div class="products">
        <div class="Head">
            <h3>{{catMedicine[0].name}}</h3>
        </div>
        <div class="Body">
            <div class="row row-cols-1 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 g-4">
                <ng-container
                    *ngFor="let a of catMedicine[0].medicine | paginate: { itemsPerPage: 10, currentPage: p }">
                    <div class="col">
                        <div class="card">
                            <img src="{{a?.mImg1}}" class="card-img-top">
                            <hr>
                            <div class="card-body">
                                <h5 class="card-title">{{a.mName}}</h5>
                                <h6 class="card-title">Expiry date: {{a?.expiry}}</h6>
                                <p class="mt-3">{{a?.price | offer:20 | currency:'INR'}}<br>
                                    <span style="font-size: 13px;">
                                        <del>MRP {{a?.price | currency:'INR'}}</del>&nbsp;
                                        <span style="color: white;
                                            background-color: green;
                                            font-size: 10px;
                                            padding: 1px;
                                            border-radius: 3px;"> 20% OFF
                                        </span>
                                    </span>
                                </p>
                            </div>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-warning"
                                    routerLink="details/{{a?.mid}}">Details</button>
                                <button type="button" class="btn btn-success" (click)="add_to_cart(a)"><i
                                        class="fa-solid fa-cart-shopping fa-xl"></i></button>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
            <div class="pagination-control">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
        </div>
    </div>
</main>

<lib-toastify-toast-container [position]="'bottom-right'"></lib-toastify-toast-container> <!-- To add tostify -->