.products {
    height: auto;
    width: 95%;
    margin: 5% auto 60px auto;
    padding-bottom: 110px;
    border-radius: 20px;
    background-color: white;

    .Head {
        width: 100%;
        height: 70px;
        background-color: rgb(104, 211, 177);
        border-radius: 10px 10px 0px 0px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 5px 20px -5px #629e6e;
        margin-bottom: 20px;

        h3 {
            font-family: 'Titillium Web';
            color: white;
        }
    }

    .Body {
        padding: 0px 30px 10px 30px;

        .card {
            padding: 0%;
            border-radius: 10px;
            min-height: 410px;
            margin-top: 30px;

            img {
                height: 160px;
                object-fit: contain;
            }

            .card-body {
                padding: 0%;
                border-radius: 10px;
                padding: 0px 5px;
            }

            .btn-success:active {
                background-color: #00b557 !important;
            }
        }

        .pagination-control {
            float: right;
            margin-top: 60px;
        }
    }
}

@media (max-width: 1150px) {
    .Body .card {
        height: 430px !important;
    }
}
@media (max-width: 1026px) {
    .Body .card {
        height: 450px !important;
    }
}
@media (max-width: 800px) {
    .Body .card {
        height: 513px !important;
    }
}
@media (max-width: 768px) {
    .Body .card {
        height: 445px !important;
    }
}